<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>

  <form action="/users/<%= user.id %>?_method=PUT" method="post">
    <input type="text" name="firstName" value="<%= user.firstName %>" required />
    <input type="text" name="lastName" value="<%= user.lastName %>" required />
    <input type="email" name="email" value="<%= user.email %>" required />
    <button type="submit">Update</button>
  </form>

  <a href="/">Back to list</a>
</body>
</html>
